* {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* padding-right: 40px;
    padding-left: 40px; */
}
p {font-size: 16px;
}
h1 {font-size: 30px;
    text-align: center; }
h2 {font-size: 24px;
    text-align: center; 
    padding-top: 50px;
    margin-top: -50px;
    }

a:link {
  color: red;
  text-decoration: none;
}
a:hover {
    color: rgb(129, 129, 129);
}
.nav-button {    
    /* display: inline; */
    font-size: 16px;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    /* border-radius: 0px; */
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2;
    white-space: nowrap
}
.nav-list {
    text-align: center; 


 
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
}
.c {
    text-align: justify;
    /* text-align: center; */
    padding-right: 10%;
    padding-left: 10%;
}

.gallery {
    width: 80%;
    /* height: 200px */
}

ol li{ text-align:center; 
    list-style-position: inside;
    font-size: 16px; 
}
ul li{ text-align:center;
    list-style-position: inside;
    font-size: 16px;
}



        
